/* **************
// DESKTOP
/* **************/

body {
    display: flex;
    flex-direction: column;
  }

  header, footer {
    flex: 0;
  }

  main {
    display: flex;
    flex: 1;
  }
  
  article {
    flex: 2;
  }
  
/* **************
// TABLET 
/* **************/

@media screen and (max-width: 1025px) {
  main {
    flex-direction: column;
  }

  article {
    order: 0;
  }
}

/* **************
// STANDARD MOBILE 
/* **************/

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
  
  article {
    order: 0;
  }
}

/* **************
// SMALL MOBILE 
/* **************/

@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
  }
  
  article {
    order: 0;
  }
}
