/* BODY */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
  }

/* HEADER AND FOOTER */
  header, footer {
    flex: 0 150px;
  }

/* CONTENT */
  main {
    flex: 1;
    display: flex;
  }
  
  article {
    order: 2;
    flex: 3;
  }
  
  aside {
    flex: 0 300px;
  }
  
  .left {
    order: 1;
  }
  
  .right {
    order: 3;
  }

  /* MOBILE SCREEN */
@media screen and (max-width: 600px) {
    main {
      flex-direction: column;
    }
  
    article {
      order: 0;
    }
  
    aside {
      flex: 0;
    }
  }
