/* **************
// DESKTOP
/* **************/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
  }

  header, footer {
    flex: 0 150px;
  }

  main {
    display: flex;
    flex: 1;
  }
  
  article {
    order: 2;
    flex: 3;
  }
  
/* **************
// TABLET 
/* **************/

@media screen and (max-width: 1025px) {
  main {
    flex-direction: column;
  }

  article {
    order: 0;
  }
}

/* **************
// MOBILE 
/* **************/

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
  
  article {
    order: 0;
  }
}
