/* **************
// DESKTOP
/* **************/
body {
  align-items: center;
  background-color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

  form {
    background-color: #f3f6f6;
    width: 100%;
  }

  header {

  }

  main {

  }
    
  article {
    
  }
  
  div {
    display: block;
    padding: 10px;
    width: 800px;
  }

  img {
      height: 400px;
      width: 600px;
  }

  .readmore {
    border: 1;
    border-color: black;
    background-color: white;
    font-size: 16px;
    color: black;
  }

  footer {
      
  }

/* **************
// TABLET
/* **************/

@media screen and (max-width: 1025px) {
  main {
  
  }
  
  article {
      
  }

  div {
    width: 750px;
  }

  img {
      height: 350px;
      width: 550px;
  }
}

/* **************
// MOBILE
/* **************/
@media screen and (max-width: 600px) {
  main {
    
  }

  article {
    
  }

  div {
    width: 550px;
  }

  img {
      height: 250px;
      width: 350px;
  }
}