/* **************
// DESKTOP
/* **************/
body {
  align-items: center;
  /* background-color: #f3f6f6; */
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}
  nav {

  }
  
  header {

  }

  main {

  }
    
  article {
    
  }
  
  div {
    
  }

  img {
      height: 400px;
      width: 600px;
  }

  footer {
      
  }

/* **************
// TABLET
/* **************/

@media screen and (max-width: 1025px) {
  main {
  
  }
  
  article {
      
  }

  img {
      height: 350px;
      width: 550px;
  }
}

/* **************
// MOBILE
/* **************/
@media screen and (max-width: 600px) {
  main {
    
  }

  article {
    
  }

  img {
      height: 250px;
      width: 350px;
  }
}